body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background-color: black;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

#titulo{
    color:white;   
    font-size: xx-large;
    margin-left: 2vw;
}

#subtitle{
    color:#F58338;
    font-size:x-large;
    margin-left: 34.5vw;
}

#logo_fluxo{
    height: 10vh;
    width: 10vh;
    margin-left: 20vw;
}

#tela{
    height: 86vh;
    width: 100vw;
    background-image: url('Imagens/Foto_Fluxo.png');
    display: flex;
}

#left{
    height: 86vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#precapa{
    height: 180px;
    width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#texto1{
    position: relative;
    width: 360px;
    color:white;
    font-size: xx-large;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 10vh;
}

#right{
    height: 86vh;
    width: 50vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#formulario{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    margin-top: 15vh;
}

.caixaPergunta{
    height: 6.5vh;
    width: 20vw;
    border-radius: 15px;
    outline: 0;
    padding: 0;
    border: none;
    text-indent: 2vw;
}

.pergunta{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight:lighter;
    font-size: x-large;
}

#botaologin{
    height: 6.5vh;
    width: 20vw;
    background-color: #F58338;
    color: white;
    border-radius: 20px;
    outline: 0px;
    padding: 0;
    border: none;
    margin-top: 6.5vh;
    font-size: larger;
}

#lembrar{
    display: flex;
    color: #F58338;
    font-size: 1vw;
    text-indent: 1vw;
    align-items: center;
    margin-top: 1.5vh;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #F58338;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #F58338;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

#altlogin{
    display: flex;
    gap: 1vw;
}

.altbutton{
    height: 5vh;
    width: 9.8vw;
    border-radius: 35vw;
    text-align: center;
    justify-content: center;
    margin-top: 4vh;
    outline: 0px;
    padding: 0;
    border: none;
    line-height: 4.4vh;
}

.imgbutton{
    float:left;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 0.4vw;
}

#e_senha{
    position: absolute;
    color: #F58338;
    text-decoration: none;
    font-size: 1vw;
    margin-left: 10vw;
    margin-top: 3.15vh;
}

#rodape{
    height: 4vh;
    width: 100vw;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: small;
}
